<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<p th:text="${id.getId()}">value</p>
<p th:text="${id.getName()}">value</p>
<p th:text="${id.getAge()}">value</p>
<p th:text="${id.getEmail()}">value</p>
<p th:text="${id.getAdress()}">value</p>
<a th:href="@{/people/{id}/edit (id=${id.getId()})}">Edit</a>


<form th:method="DELETE" th:action="@{/people/{id} (id=${id.getId()})}" th:object="${person}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>